* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(166, 180, 168);
}
#start-screen {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 200px;
    padding: 30px;
}
#start-screen h1 {
    font-size: 90px;
    font-family: monospace;
    color: darkblue;
    padding: 15px;
}
#start-screen p {
    font-family: monospace;
    font-size: 30px;
    padding: 15px;
}
 button {
    border: 2px solid darkblue;
    border-radius: 30px;
    background-color: transparent;
    font-size: 50px;
    padding: 15px;
}
#quiz-container {
    box-sizing: border-box;
    /* position: relative; */
    display: f;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 200px;
    padding: 10px;
}
#question {
    font-size: 50px;
    font-weight: bolder;
    
}
#end-quiz {
    display: none;
}
#timer {
    display: none;
}
#highscore-container {
    display: none;
}
